<form action="/auth/login" method="post">
    <label for="username">Username/Email</label>
    <input type="text" name="username" id="username">
    <label for="password">Password</label>
    <input type="password" name="password" id="password">
    <span>{{errorMessage}}</span>
    <button type="submit">Login</button>
</form>